html {
    font-family: Arial;
}

.navbar {
    background-color: #3954c7;
    width: 100%;
}

    .navbar ul {
        margin-left: 130px;
    }

    .navbar li {
        float: left;
        list-style: none;
        margin: 15px 20px;
        font-family: system-ui;
        font-weight: 600;
        font-size: 16px;
    }

        .navbar li a {
            padding: 3px 3px;
            color: white;
            text-decoration: none;
        }

            .navbar li a:hover {
                color: white;
                border-bottom: 4px solid #ff675a;
            }

            .navbar li a.active {
                color: white;
                border-bottom: 4px solid #ff675a;
            }

.logo-text {
    float: right;
    color: white;
    margin: 7px;
    margin-right: 135px;
}

.logo-image {
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-left: 296px;
    max-width: 40px;
    max-height: 40px;
}

span.a {
    color: #7b7676;
    font-size: 15px;
    font-weight: 700;
}

span.b {
    font-weight: 100;
    color: #777373;
    font-size: 12px;
}

span.c {
    color: darkblue;
    font-size: 21px;
    background-color: white;
    border-bottom: 4px solid #f72c83;
    border-bottom-style: solid;
    padding: 0px;
    padding-bottom: 1px;
}

input [type=text] {
    border-radius: 5px;
}

placeholder {
    color: grey;
    padding: 4px;
}

.button {
    padding: 5px 15px;
    font-size: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #143296;
    border: none;
    border-radius: 50px;
}

    .button:hover {
        background-color: darkblue;
    }

input {
    height: 25px;
    width: 180px;
}

section.B {
    padding: 4px;
    padding-left: 2px;
    color: white;
}

section.A {
    padding-bottom: 4px;
}

section.C {
    padding-bottom: 5px;
    padding-top: 1px;
    padding-left: 2px;
    background-color: white;
    border-radius: 5px;
}

.carousel {
    position: relative;
    margin-left: 15px;
}

.left_part {
    width: 76%;
}

.right_part {
    margin-right: 40px;
    width: 24%;
}

.tab1 {
    background-color: #041a61;
    color: white;
    border-radius: 8px;
}

.tab2, .tab3, .tab4 {
    background-color: white;
    color: #081075;
    border-radius: 8px;
    font-weight: 600;
    font-size: initial;
}

a {
    text-decoration: none;
}

    a:hover {
        color: white;
        text-decoration: none;
    }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.office-image {
    position: relative;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-family: Arial;
    font-size: 25px;
}

.container {
    display: flex;
}

span.c {
    color: darkblue;
    background-color: white;
    border-bottom: 4px solid #f72c83;
    font-size: 21px;
    border-bottom-style: solid;
    padding: 0px;
    padding-bottom: 1px;
}

h2 {
    margin-left: 30px;
    margin-top: 3px;
}

.right-half {
    flex: 1;
    width: 50%
}

.left-half {
    flex: 1;
    width: 50%
}

.card, .card2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 15px;
    background-color: #152363;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

    .card:hover, .card2:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.image-data, .image-data2 {
    height: 150px;
    position: relative;
    z-index: 1;
}

.background-image {
    width: 80%;
    height: 90%;
    position: absolute;
    background: url("team1.jpg") center no-repeat;
    background-size: cover;
    padding: 5px;
    margin: 2px;
}

.background-image2 {
    width: 80%;
    height: 90%;
    position: absolute;
    background: url("team2.jpg") center no-repeat;
    background-size: cover;
    padding: 5px;
    margin: 2px;
}

.background-image3 {
    width: 80%;
    height: 90%;
    position: absolute;
    background: url("team3.jpg") center no-repeat;
    background-size: cover;
    padding: 5px;
    margin: 2px;
}

.card1-data, .card2-data {
    position: relative;
    margin-left: -20px;
    margin-right: 40px;
}

.title {
    font-size: 20px;
    color: white;
    margin: 3px 0px 6px 0px;
    font-weight: 100;
}

.title2 {
    font-size: 18px;
    color: white;
    margin: 2px 0px 6px 1px;
    font-weight: 100;
}

.subtitle {
    font-size: 15px;
    color: white;
    margin: 0rem 0rem 0rem 0rem;
    font-weight: 100;
}

.description1 {
    position: relative;
    background-color: white;
    color: black;
    margin-top: 6px;
}

.description2 {
    position: relative;
    color: white;
    font-weight: 100;
    font-size: 13px;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 4px;
}

@media screen and (min-width: 300px) {
    .card {
        flex-direction: row;
        max-height: 600px;
    }

    .image-data {
        flex-basis: 60%;
        height: unset;
    }

    .card1-data {
        flex-basis: 70%;
    }
}

@media screen and (min-width: 300px) {
    .card2 {
        flex-direction: row;
        max-height: 800px;
    }

    .image-data2 {
        flex-basis: 60%;
        height: unset;
    }

    .card2-data {
        flex-basis: 70%;
    }
}

.part1 {
    flex: 1;
    width: 50%
}

.part2 {
    flex: 1;
    width: 50%
}

.part3 {
    flex: 0;
    width: 50%
}
